.h1 {
    text-align: center;
}
.flex {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 30px 0 0 0;
}
.flex .title {
    position: absolute;
    top: 0;
    left: 30%;
    font-size: 1.4em;
    color: aqua;
}
.flex .input {
    width: 30%;
    height: 35px;
    position: relative;
}
.flex .input span {
    position: absolute;
    left: 10px;
    top: 18%;
    font-size: 1.1em;
    pointer-events: none;
    transition: 0.5s;
    background: #fff;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.flex .input input:focus ~ span,
.flex .input input:valid ~ span{
    top: -12px;
}
.flex .input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid magenta;
    border-radius: 10px;
    padding: 10px;
}
.flex button {
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.295);
    border: 1px solid magenta;
}

